@tailwind base;
@tailwind components;
@tailwind utilities;

// change scrollbar color
::-webkit-scrollbar {
  width: 8px;
  // -webkit-transition: all 0.5s ease-in-out;
}

::-webkit-scrollbar:hover {
  width: 13px;
}

::-webkit-scrollbar-track {
  background: #0a192f;
}

::-webkit-scrollbar-thumb {
  background: #0d274e;
}

::-webkit-scrollbar-thumb:hover {
  background: #0c336e;
}

::selection {
  background-color: rgba(80, 127, 158, 0.603);
  color: #ffffff;
}

.halo {
  position: fixed;
  z-index: 0;
  width: 900px;
  height: 900px;
  border-radius: 50%;
  background: radial-gradient(circle,
      rgba(80, 158, 126, 0.137) 0%,
      rgba(0, 0, 0, 0) 60%);
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition:
    transform 0.2s,
    background 0.2s;
}

.mobile-halo-div {
  position: fixed;
  z-index: 0;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition:
    transform 0.2s,
    background 0.2s;
  left: 50%;
  top: -50px;
}

.mobile-halo {
  width: 700px;
  height: 700px;
  border-radius: 50%;
  background: radial-gradient(circle,
      rgba(80, 158, 126, 0.37) 0%,
      rgba(0, 0, 0, 0) 60%);
}

.content-section {
  z-index: 1;
}

.loader-container {
  width: 350px;
  height: 350px;
  display: flex;
  place-content: center;
  overflow: hidden;
  background: radial-gradient(circle,
      rgba(80, 158, 126, 0.247) 0%,
      rgba(0, 0, 0, 0) 60%);
  border-radius: 50%;
}

.loader-item {
  width: 35%;
  overflow: visible;
  stroke: #ffffff;
  stroke-width: 2;
  stroke-linejoin: round;
  stroke-linecap: round;
}

@media (min-width: 720px) {
  .group-main:hover .child {
    opacity: 0.5;
  }

  .group-main:hover .child:hover {
    opacity: 1;
  }
}