@tailwind base;
@tailwind components;
@tailwind utilities;

.halo {
  position: fixed;
  z-index: 0;
  width: 900px;
  height: 900px;
  border-radius: 50%;
  background: radial-gradient(circle, rgba(80, 158, 126, 0.137) 0%, rgba(0, 0, 0, 0) 60%);
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: transform 0.2s, background .0.2s;
}

.mobile-halo-div {
  position: fixed;
  z-index: 0;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: transform 0.2s, background .0.2s;
  left: 50%;
  top: 0px;
}
.mobile-halo {
  width: 700px;
  height: 700px;
  border-radius: 50%;
  background: radial-gradient(circle, rgba(80, 158, 126, 0.37) 0%, rgba(0, 0, 0, 0) 60%);

}

.content-section {
  z-index: 1;
}